.textTable {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px}
.titleTable {  font-family: Verdana, Arial, Helvetica, sans-serif}
.menuTable {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: x-small}
a:active {  text-decoration: none; color: #000000}
a:link {  text-decoration: none; color: #000000}
a:visited {  text-decoration: none; color: #000000}
a:hover {  text-decoration: underline; color: #000000}
.sapiaTable {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px}
